<!-- templates/thank_you.html -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Thank You</title>
</head>
<body>
    <h1>Thank you for registering!</h1>
    <p>Your registration was successful. We will send you a confirmation email shortly ....</p>
    <P>Incase of delay contact us : 0757238326</P>
</body>
</html>
